.card {
	position: relative;
	display: inline-block;
	height: 100%;
	z-index: 50;
	animation: draw-intro 0.25s ease-out;

	h1 {
		position: absolute;
		font-size: 0.5em;
		text-align: center;
		font-family: @serif-font;
		margin: 0 8%;
		width: 84%;
		top: 54.25%;
		color: white;
	}

	div.visuals {
		.inhand-minion {
			width: 78%;
			top: 6%;;
			left: 11%;
			clip-path: url(assets/clip-paths.svg#inhand-minion-clip);
			-webkit-clip-path: ellipse(36% 47% at 50% 50%);
		}
		.inhand-spell {
			width: 70%;
			top: 11%;;
			left: 14%;
			clip-path: url(assets/clip-paths.svg#inhand-spell-clip);
			-webkit-clip-path: inset(8% 0% 4% 0%);
		}
		.inhand-weapon {
			width: 67%;
			top: 11%;;
			left: 17%;
			clip-path: url(assets/clip-paths.svg#inhand-weapon-clip);
			-webkit-clip-path: circle(50% at 50% 50%);
		}
		.inhand-base, .inhand-legendary, .inhand-mulligan {
			height: 100%;
		}
		.inhand-mulligan {
			z-index: 55;
		}
	}

	.description {
		position: absolute;
		font-family: @sans-serif-font;
		font-size: 0.6em;
		margin: 0 16%;
		text-align: center;
		line-height: 1em;
		height: 26%;
		width: 65%;
		top: 64.5%;
		left: 0.5%;

		p {
			width: 100%;
			position: absolute;
			margin: 0;
			padding: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	.cost {
		top: 9.75%;
		left: 2.0%;
	}

	&.card-spell, &.card-hero-power {
		.cost {
			left: 3.5%;
		}
	}

	.stats {
		.atk {
			left: 5%;
			top: 85%;
		}

		.health, .durability {
			left: 76%;
			top: 85%;
		}
	}

	.cost, .atk, .health, .durability {
		font-size: 1.45em;
	}

	&:hover {
		z-index: 51;

		.inhand-mulligan {
			opacity: 0.5;
		}
	}

	.created-by {
		position: relative;
		text-align: center;
		width: 90%;
		left: 5%;
		line-height: 1.5em;
		font-size: 0.6em;
		text-align: center;
		font-family: @serif-font;
		color: white;
	}

	h1, .created-by {
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	}
}

.minion {
	position: relative;
	display: inline-block;
	height: 100%;
	z-index: 60;
	animation: minion-intro 0.25s ease-out;

	div.visuals {
		.inplay-base, .inplay-legendary, .inplay-taunt, .inplay-shield, .inplay-frozen, .inplay-divine-shield,
		.inplay-stealth, .icon-deathrattle, .icon-trigger, .icon-inspire, .icon-poisonous,
		.effect-sleep, .inplay-enraged, .inplay-silenced, .inplay-immune, .inplay-untargetable,
		.inplay-buffed {
			height: 100%;
		}
		.inplay-divine-shield {
			z-index: 65;
		}
		.taunt.stealth& .inplay-taunt {
			opacity: 0.5;
		}
		.skull {
			height: 60%;
			top: 15%;
			left: 15%;
		}
		.dmg {
			animation: damage-intro 0.25s ease-out;
			height: 70%;
			top: 11%;
			left: 9%;
		}
		.heal {
			animation: damage-intro 0.25s ease-out;
			height: 65%;
			top: 13%;
			left: 12%;
		}
		.inplay-portrait {
			width: 85%;
			top: 10%;;
			left: 7%;
			clip-path: url(assets/clip-paths.svg#inplay-minion-clip);
			-webkit-clip-path: ellipse(35% 46% at 51% 50%);
		}
		.inplay-legendary {
			position: absolute;
			height: 100%;
		}
	}

	> div {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	> .stats {
		font-size: 1.3em;
		position: absolute;
		top: 0;

		.atk {
			left: 19.75%;
			top: 63.5%;
			font-size: 0.9em;
		}

		.health {
			left: 59.75%;
			top: 63.5%;
			font-size: 0.9em;
		}

		.damage {
			left: 38%;
			top: 34%;
			font-size: 1.6em;
		}

		.healing {
			left: 34%;
			top: 37%;
			font-size: 1.5em;
		}
	}

	&.hovering {
		z-index: 70;
	}

	.mouse-over {
		height: 130%;
		top: -20%;
	}
}

.hero {
	height: 100%;
	position: relative;

	> div {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	.stats {
		position: absolute;
		top: 0;

		.atk {
			left: 5.5%;
			top: 81.5%;
			font-size: 1.2em;
		}

		.health {
			left: 74%;
			top: 81.5%;
			font-size: 1.2em;
		}

		.armor {
			left: 74%;
			top: 56%;
			font-size: 1.2em;
		}

		.secret-text {
			left: 38%;
			top: 1.8%;
			font-size: 1.8em;
		}

		.damage {
			left: 36%;
			top: 38%;
			font-size: 2.4em;
		}

		.healing {
			left: 36%;
			top: 38%;
			font-size: 2.4em;
		}
	}

	div.visuals {
		.hero-frame, .hero-attack, .hero-armor, .secret, .hero-frozen, .hero-immune {
			height: 100%;
		}
		.skull {
			height: 75%;
			top: 15%;
			left: 10%;
		}
		.dmg, .heal {
			animation: damage-intro 0.25s ease-out;
			height: 80%;
			top: 12%;
			left: 9%;
		}
		.hero-portrait {
			height: 82%;
			top: 9%;
			left: 7%;
			clip-path: url(assets/clip-paths.svg#hero-clip);
			-webkit-clip-path: polygon(0% 100%, 0 40%, 20% 10%, 30% 3%, 50% 0%, 70% 3%, 80% 10%, 100% 40%, 100% 100%);
		}
	}
}


.heroPower {
	div.visuals {
		.hero-power-frame {
			height: 100%;
		}
		.hero-power-portrait {
			height: 55%;
			top: 27%;
			left: 23%;
			clip-path: url(assets/clip-paths.svg#hero-power-clip);
			-webkit-clip-path: circle(60% at 50% 50%);
		}
	}

	> .cost {
		position: absolute;
		top: 4%;
		left: 40%;
		font-size: 1em;
	}

	.mouse-over {
		height: 200%;
		top: -50%;
	}
}

.weapon {
	.atk {
		top: 61%;
		left: 11%;
		font-size: 1em;
	}
	.durability {
		top: 61%;
		left: 68%;
		font-size: 1em;
	}
	div.visuals {
		.hero-weapon-frame {
			height: 100%;
		}
		.hero-weapon-portrait {
			height: 73%;
			top: 13%;
			left: 14%;
			clip-path: url(assets/clip-paths.svg#hero-weapon-clip);
			-webkit-clip-path: circle(50% at 50% 50%);
		}
	}

	.mouse-over {
		height: 200%;
		top: -50%;
	}
}

.hero, .weapon, .heroPower, .deck > figure {
	filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.8));
}

.card, .minion {
	filter: drop-shadow(-3px 2px 2px rgba(0,0,0,0.4));
}

.entity {
	.mouse-over {
		display: block;
		position: absolute;
		z-index: 100;
		left: 100%;

		> .card {
			animation: none;
			z-index: 101;
		}
	}
}

/* premium class card filter colors, for use with red overlay image */

.druid-color {
	filter: hue-rotate(70deg) saturate(85%) brightness(94%);
}

.hunter-color {
	filter: hue-rotate(150deg) saturate(80%) brightness(100%);
}

.mage-color {
	filter: hue-rotate(220deg) saturate(40%) brightness(125%);
}

.paladin-color {
	filter: hue-rotate(55deg) saturate(120%) brightness(70%);
	opacity: 0.7;
}

.priest-color {
	visibility: hidden;
}

.rogue-color {
	filter: hue-rotate(104deg) saturate(0%) brightness(78%);
}

.shaman-color {
	filter: hue-rotate(220deg) saturate(50%) brightness(100%);
}

.warlock-color {
	filter: hue-rotate(306deg) saturate(75%) brightness(55%);
}

.warrior-color {
	filter: hue-rotate(41deg) saturate(52%) brightness(70%);
}

.neutral-color {
	filter: hue-rotate(160deg) saturate(0%) brightness(80%);
	opacity: 0.4;
}
