.player {
	width: 100%;
	height: 50%;
	position: relative;

	> section {
		height: 50%;

		&.tall {
			height: 55%;
		}

		&.short {
			height: 45%;
		}

		> div, > ul {
			height: 100%;
			margin: 0;
			padding: 0;
			display: inline-block;
			vertical-align: top;
		}
	}

	> .choices, > .played {
		display: block;
		position: absolute;
		margin: 0 0 0 25%;
		padding: 0;
	}

	> .choices {
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		z-index: 100;
	}

	> .played {
		animation: played-intro 0.25s ease-out;
		top: -10%;
		right: 0;
		height: 57.5%;
		z-index: 99;
		margin-right: 10%;
	}

	&.top {
		> .played {
			top: 55%;
			right: 55%;
		}

		.heroPower .card {
			top: 0;
		}
		.weapon .card {
			top: 15%;
		}
	}

	.heroPower, .weapon {
		.card {
			height: 135%;
			top: -50%;
		}
		&.hovering {
			z-index: 101;
		}
	}

	.gameresult {
		position: absolute;
		top: 35%;
		left: 0;
		width: 100%;
		height: 100%;

		.top& {
			top: 45%;
		}
	}

	.hand {
		width: 80%;

		> * {
			flex-shrink: 1;
			min-width: (100% / 10);
		}
	}

	.equipment {
		width: 20%;
		padding: 10px;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		> section.entities {
			max-width: 100%;
			height: 80%;
			display: flex;

			> section {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
			}

			.weapon, .heroPower {
				height: 50%;
			}
		}

		> section.details {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.tray {
				display: flex;
				flex-direction: row;
				height: 1.4em;
				padding: 0.1em 0.6em;
				margin-left: 0.6em;

				> span {
					padding: 0 0.5em 0 0;
				}
			}

			.name {
				flex-grow: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 1.4em;
				padding: 0.1em 0.6em;
			}
		}
	}

	.field {
		width: 80%;
		overflow: visible;

		> * {
			flex-shrink: 1;
			max-width: (100% / 7);
		}
	}

	.deck {
		width: 20%;
		align-items: center;

		> figure {
			height: 70%;
			position: relative;
			padding: 0;
			margin: -9% 0 0 0;

			img {
				height: 100%;
			}

			figcaption {
				@padding: 7%;

				text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
				font-size: 1.5em;
				position: absolute;
				bottom: @padding;
				width: 100%;
				text-align: center;

				.top& {
					top: @padding;
				}
			}
		}
	}

	.hand, .field, .choices, .deck {
		display: inline-flex;
		flex: 0 0 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		padding: 5px 0;
	}
}

.entity-list {
	list-style-type: none;

	li {
		height: 100%;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
