.joust-loading-screen {
	font-family: @serif-font;
	font-size: 3em;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		margin: 0.5em;
	}

	small {
		font-size: 1em;
	}

	a {
		color: white;
	}
}
