@import '~styles/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label {
  font-size: 12px;
  color: $gray30;
  cursor: pointer;
  border-radius: 1px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  background: $gray07;
  &.active {
    color: #fff;
    background: $accent-blue;
  }
}

.sliderContainer {
  width: 39px;
  height: 22px;
  background: $grey3;
  border-radius: 11px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0 13px;

  &.active {
    justify-content: flex-end;
    background: $accent;
  }
}

.slider {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 9px;
}
