@import '~styles/variables';

:global {
  @import '~normalize.css';
  @import '~tachyons';
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


  html,
  body {
    background: #fff;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $grey5;
    font-weight: 400;

    // enable font smoothing
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #sk-holder #sk-messenger-button svg path {
    filter: url("#dropShadow") !important;
  }

  a {
    text-decoration: none;
  }

  p, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  a:active, a:focus {
    outline: none;
  }

  input, button, submit {
    border: none;
  }

  *:focus {
    outline: none;
  }

  input[type='checkbox']:focus {
    border: 1px solid $accent-blue;
    box-shadow: 0 0 10px $accent-blue;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  strong {
    font-weight: 600;
  }

  // tachyons extension
  :root {
    --color-blue: #4A90E2;
    --color-accent: #00B861;
    --color-gray-1: #F1F1F1;
    --color-gray-2: #C8C8C8;
    --color-gray-3: #9D9D9D;
    --color-gray-4: #4A4A4A;

    --gray: rgba(74, 74, 74, 1);
    --gray-04: rgba(74, 74, 74, 0.04);
    --gray-06: rgba(74, 74, 74, 0.06);
    --gray-10: rgba(74, 74, 74, 0.1);
    --gray-20: rgba(74, 74, 74, 0.2);
    --gray-30: rgba(74, 74, 74, 0.3);
    --gray-40: rgba(74, 74, 74, 0.4);
    --gray-50: rgba(74, 74, 74, 0.5);
    --gray-60: rgba(74, 74, 74, 0.6);
    --gray-70: rgba(74, 74, 74, 0.7);
    --gray-80: rgba(74, 74, 74, 0.8);
    --gray-90: rgba(74, 74, 74, 0.9);

    --size-6: 6px;
    --size-10: 10px;
    --size-16: 16px;
    --size-25: 25px;
    --size-38: 38px;
    --size-60: 60px;
    --size-96: 96px;
  }

  /* Padding
  –––––––
   */

  /*Padding all*/
  .pa-6 {
    padding: var(--size-6);
  }
  .pa-10 {
    padding: var(--size-10);
  }
  .pa-16 {
    padding: var(--size-16);
  }
  .pa-25 {
    padding: var(--size-25);
  }
  .pa-38 {
    padding: var(--size-38);
  }
  .pa-60 {
    padding: var(--size-60);
  }
  .pa-96 {
    padding: var(--size-96);
  }

  /*Padding horizontal*/
  .ph-6 {
    padding-left: var(--size-6);
    padding-right: var(--size-6);
  }
  .ph-10 {
    padding-left: var(--size-10);
    padding-right: var(--size-10);
  }
  .ph-16 {
    padding-left: var(--size-16);
    padding-right: var(--size-16);
  }
  .ph-25 {
    padding-left: var(--size-25);
    padding-right: var(--size-25);
  }
  .ph-38 {
    padding-left: var(--size-38);
    padding-right: var(--size-38);
  }
  .ph-60 {
    padding-left: var(--size-60);
    padding-right: var(--size-60);
  }
  .ph-96 {
    padding-left: var(--size-96);
    padding-right: var(--size-96);
  }

  /*Padding vertical*/
  .pv-6 {
    padding-top: var(--size-6);
    padding-bottom: var(--size-6);
  }
  .pv-10 {
    padding-top: var(--size-10);
    padding-bottom: var(--size-10);
  }
  .pv-16 {
    padding-top: var(--size-16);
    padding-bottom: var(--size-16);
  }
  .pv-25 {
    padding-top: var(--size-25);
    padding-bottom: var(--size-25);
  }
  .pv-38 {
    padding-top: var(--size-38);
    padding-bottom: var(--size-38);
  }
  .pv-60 {
    padding-top: var(--size-60);
    padding-bottom: var(--size-60);
  }
  .pv-96 {
    padding-top: var(--size-96);
    padding-bottom: var(--size-96);
  }

  /*Padding left*/
  .pl-6 {
    padding-left: var(--size-6);
  }
  .pl-10 {
    padding-left: var(--size-10);
  }
  .pl-16 {
    padding-left: var(--size-16);
  }
  .pl-25 {
    padding-left: var(--size-25);
  }
  .pl-38 {
    padding-left: var(--size-38);
  }
  .pl-60 {
    padding-left: var(--size-60);
  }
  .pl-96 {
    padding-left: var(--size-96);
  }

  /*Padding right*/
  .pr-6 {
    padding-right: var(--size-6);
  }
  .pr-10 {
    padding-right: var(--size-10);
  }
  .pr-16 {
    padding-right: var(--size-16);
  }
  .pr-25 {
    padding-right: var(--size-25);
  }
  .pr-38 {
    padding-right: var(--size-38);
  }
  .pr-60 {
    padding-right: var(--size-60);
  }
  .pr-96 {
    padding-right: var(--size-96);
  }

  /*Padding top*/
  .pt-6 {
    padding-top: var(--size-6);
  }
  .pt-10 {
    padding-top: var(--size-10);
  }
  .pt-16 {
    padding-top: var(--size-16);
  }
  .pt-25 {
    padding-top: var(--size-25);
  }
  .pt-38 {
    padding-top: var(--size-38);
  }
  .pt-60 {
    padding-top: var(--size-60);
  }
  .pt-96 {
    padding-top: var(--size-96);
  }

  /*Padding bottom*/
  .pb-6 {
    padding-bottom: var(--size-6);
  }
  .pb-10 {
    padding-bottom: var(--size-10);
  }
  .pb-16 {
    padding-bottom: var(--size-16);
  }
  .pb-25 {
    padding-bottom: var(--size-25);
  }
  .pb-38 {
    padding-bottom: var(--size-38);
  }
  .pb-60 {
    padding-bottom: var(--size-60);
  }
  .pb-96 {
    padding-bottom: var(--size-96);
  }

  /* Margin
  ––––––
   */

  /*Margin all*/
  .ma-6 {
    margin: var(--size-6);
  }
  .ma-10 {
    margin: var(--size-10);
  }
  .ma-16 {
    margin: var(--size-16);
  }
  .ma-25 {
    margin: var(--size-25);
  }
  .ma-38 {
    margin: var(--size-38);
  }
  .ma-60 {
    margin: var(--size-60);
  }
  .ma-96 {
    margin: var(--size-96);
  }

  /*Margin horizontal*/
  .mh-6 {
    margin-left: var(--size-6);
    margin-right: var(--size-6);
  }
  .mh-10 {
    margin-left: var(--size-10);
    margin-right: var(--size-10);
  }
  .mh-16 {
    margin-left: var(--size-16);
    margin-right: var(--size-16);
  }
  .mh-25 {
    margin-left: var(--size-25);
    margin-right: var(--size-25);
  }
  .mh-38 {
    margin-left: var(--size-38);
    margin-right: var(--size-38);
  }
  .mh-60 {
    margin-left: var(--size-60);
    margin-right: var(--size-60);
  }
  .mh-96 {
    margin-left: var(--size-96);
    margin-right: var(--size-96);
  }

  /*Margin vertical*/
  .mv-6 {
    margin-top: var(--size-6);
    margin-bottom: var(--size-6);
  }
  .mv-10 {
    margin-top: var(--size-10);
    margin-bottom: var(--size-10);
  }
  .mv-16 {
    margin-top: var(--size-16);
    margin-bottom: var(--size-16);
  }
  .mv-25 {
    margin-top: var(--size-25);
    margin-bottom: var(--size-25);
  }
  .mv-38 {
    margin-top: var(--size-38);
    margin-bottom: var(--size-38);
  }
  .mv-60 {
    margin-top: var(--size-60);
    margin-bottom: var(--size-60);
  }
  .mv-96 {
    margin-top: var(--size-96);
    margin-bottom: var(--size-96);
  }

  /*Margin left*/
  .ml-6 {
    margin-left: var(--size-6);
  }
  .ml-10 {
    margin-left: var(--size-10);
  }
  .ml-16 {
    margin-left: var(--size-16);
  }
  .ml-25 {
    margin-left: var(--size-25);
  }
  .ml-38 {
    margin-left: var(--size-38);
  }
  .ml-60 {
    margin-left: var(--size-60);
  }
  .ml-96 {
    margin-left: var(--size-96);
  }

  /*Margin right*/
  .mr-6 {
    margin-right: var(--size-6);
  }
  .mr-10 {
    margin-right: var(--size-10);
  }
  .mr-16 {
    margin-right: var(--size-16);
  }
  .mr-25 {
    margin-right: var(--size-25);
  }
  .mr-38 {
    margin-right: var(--size-38);
  }
  .mr-60 {
    margin-right: var(--size-60);
  }
  .mr-96 {
    margin-right: var(--size-96);
  }

  @media screen and (min-width: 60em) {
    .mr-16-l {
      margin-right: var(--size-16);
    }
  }

  /*Margin top*/
  .mt-6 {
    margin-top: var(--size-6);
  }
  .mt-10 {
    margin-top: var(--size-10);
  }
  .mt-16 {
    margin-top: var(--size-16);
  }
  .mt-25 {
    margin-top: var(--size-25);
  }
  .mt-38 {
    margin-top: var(--size-38);
  }
  .mt-60 {
    margin-top: var(--size-60);
  }
  .mt-96 {
    margin-top: var(--size-96);
  }

  /*Margin bottom*/
  .mb-6 {
    margin-bottom: var(--size-6);
  }
  .mb-10 {
    margin-bottom: var(--size-10);
  }
  .mb-16 {
    margin-bottom: var(--size-16);
  }
  .mb-25 {
    margin-bottom: var(--size-25);
  }
  .mb-38 {
    margin-bottom: var(--size-38);
  }
  .mb-60 {
    margin-bottom: var(--size-60);
  }
  .mb-96 {
    margin-bottom: var(--size-96);
  }

  /* Font-size
  –––––––––
   */

  /*Font Size*/
  .f-6 {
    font-size: var(--size-6);
  }
  .f-10 {
    font-size: var(--size-10);
  }
  .f-16 {
    font-size: var(--size-16);
  }
  .f-25 {
    font-size: 20px;
  }
  .f-38 {
    font-size: 30px;
  }
  .f-60 {
    font-size: var(--size-60);
  }
  .f-96 {
    font-size: var(--size-96);
  }

  @media screen and (min-width: 30em) {
    .f-25 {
      font-size: var(--size-25);
    }
    .f-38 {
      font-size: var(--size-38);
    }
  }

  /* Color
  –––––
   */

  .bg-accent {
     background-color: var(--color-accent);
  }

  .blue {
    color: var(--color-blue);
  }

  .gray-04 {
    color: var(--gray-04);
  }
  .gray-06 {
    color: var(--gray-06);
  }
  .gray-10 {
    color: var(--gray-10);
  }
  .gray-20 {
    color: var(--gray-20);
  }
  .gray-30 {
    color: var(--gray-30);
  }
  .gray-40 {
    color: var(--gray-40);
  }
  .gray-50 {
    color: var(--gray-50);
  }
  .gray-60 {
    color: var(--gray-60);
  }
  .gray-70 {
    color: var(--gray-70);
  }
  .gray-80 {
    color: var(--gray-80);
  }
  .gray-90 {
    color: var(--gray-90);
  }

  .bg-gray-04 {
    background-color: var(--gray-04);
  }
  .bg-gray-06 {
    background-color: var(--gray-06);
  }
  .bg-gray-10 {
    background-color: var(--gray-10);
  }
  .bg-gray-20 {
    background-color: var(--gray-20);
  }
  .bg-gray-30 {
    background-color: var(--gray-30);
  }
  .bg-gray-40 {
    background-color: var(--gray-40);
  }
  .bg-gray-50 {
    background-color: var(--gray-50);
  }
  .bg-gray-60 {
    background-color: var(--gray-60);
  }
  .bg-gray-70 {
    background-color: var(--gray-70);
  }
  .bg-gray-80 {
    background-color: var(--gray-80);
  }
  .bg-gray-90 {
    background-color: var(--gray-90);
  }

  .bg-accent {
    background: var(--color-accent);
  }

  .bg-gray-1 {
    background: var(--color-gray-1);
  }

  .bg-gray-2 {
    background: var(--color-gray-2);
  }

  .bg-gray-3 {
    background: var(--color-gray-3);
  }

  .bg-gray-4 {
    background: var(--color-gray-4);
  }

  .accent {
    color: var(--color-accent);
  }

  .gray-1 {
    color: var(--color-gray-1);
  }

  .gray-2 {
    color: var(--color-gray-2);
  }

  .gray-3 {
    color: var(--color-gray-3);
  }

  .gray-4 {
    color: var(--color-gray-4);
  }

  /* Border-radius
  –––––
   */
  .br-1 {
    border-radius: 1px;
  }

  .br-2 {
    border-radius: 2px;
  }

  /* Border color
  –––––
  */
  .bc-grey-1 {
    border-color: var(--color-gray-1);
  }

  .bc-grey-2 {
    border-color: var(--color-gray-2);
  }

  .bc-grey-3 {
    border-color: var(--color-gray-3);
  }

  .bc-grey-4 {
    border-color: var(--color-gray-4);
  }

  /* Line height
  –––––
   */
  .lh-1-4 {
    line-height: 1.4;
  }

  /* Letter spacing
  –––––
   */
  .ls-1 {
    letter-spacing: 1px;
  }

  .ls-2 {
    letter-spacing: 2px;
  }

}
