@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin button {
  padding: 10px 19px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  border: 1px solid $grey4;
  border-radius: 4px;
  color: $grey4;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: $grey5;
    border-color: $grey5;

    svg {
      fill: $grey5;
    }
  }

  span {
    margin-left: 11px;
    white-space: nowrap;
  }

  svg {
    fill: $grey4;
  }
}

@mixin dropdown {
  position: absolute;
  background: #fff;
  padding: 15px 0;
  z-index: 9;
  border-radius: 4px;
  box-shadow: 0 0 5px $grey3;
  display: flex;
  flex-direction: column;

  > * {
    font-size: 14px;
    padding: 10px 30px;
    color: $grey4;
    cursor: pointer;

    &:hover {
      background: $grey1;
      color: $grey5;
    }
  }
}

@mixin cellborder($color) {
  box-shadow:
          1px 0 0 0 $color,
          0 1px 0 0 $color,
          1px 1px 0 0 $color, /* Just to fix the corner */
          1px 0 0 0 $color inset,
          0 1px 0 0 $color inset;
}
