$blue-grey: #F0F0F9;
$blue-grey-dark: #8989B1;
$accent-shade: #9FE9AE;

$accent: #00b861;
$accent-blue: #2a7ed2;
$blue1: #FCFDFE;
$blue2: #EEF9FF;
$blue3: #DDF2FA;
$blue4: #A9CCEE;
$grey1: #FBFBFB;
$grey2: #E4E4F4;
$grey3: #B9B9C8;
$grey4: #5B5F64;
$grey5: #171A1F;
$grey6: #192121;
$headerHeight: 64px;

$newGrayDark: #8E96A3;
$newGrey4: #E4E4F4;

$newGrey3: #1B1F25;
$newGrey2: #F3F3F6;
$newGrey1: #F3F3F3;

$lightGreen: #C9EBD7;
$lightYellow: #FCF6A9;
$lightBrown: #D1A700;

$green: #27AE60;
$blue: #2A7ED2;
$darkBlue: #172A3A;
$darkerBlue: #0F202E;

$gray04: rgba(0,0,0,0.04);
$gray07: rgba(0,0,0,0.07);
$gray10: rgba(0,0,0,0.1);
$gray20: rgba(0,0,0,0.2);
$gray30: rgba(0,0,0,0.3);
$gray40: rgba(0,0,0,0.4);
$gray50: rgba(0,0,0,0.5);
$gray60: rgba(0,0,0,0.6);
$gray70: rgba(0,0,0,0.7);
$gray80: rgba(0,0,0,0.8);
$gray90: rgba(0,0,0,0.9);

$white04: rgba(255,255,255,0.04);
$white07: rgba(255,255,255,0.07);
$white10: rgba(255,255,255,0.1);
$white20: rgba(255,255,255,0.2);
$white30: rgba(255,255,255,0.3);
$white40: rgba(255,255,255,0.4);
$white50: rgba(255,255,255,0.5);
$white60: rgba(255,255,255,0.6);
$white70: rgba(255,255,255,0.7);
$white80: rgba(255,255,255,0.8);
$white90: rgba(255,255,255,0.9);

$size04: 4px;
$size06: 6px;
$size10: 10px;
$size16: 16px;
$size25: 25px;
$size38: 38px;
$size60: 60px;
$size96: 96px;
$size1000: 1000px;

$size12: 12px;
$size14: 14px;

$duration: .1s
