@import '~styles/variables';

.root {
  width: 100%;
  overflow: hidden;
  background: #fff;
  transition: background .2s ease, color .2s ease, border .2s ease;

  &.disabled {
    background: #E4E4F4;
    border: 1px solid rgba(142, 148, 163, 0.4);
    user-select: none;
    cursor: default;
    
    div {
      opacity: 0.4;
      color: #8E96A3;
      border-color: #8E96A3;
    }

    input {
      opacity: 0.4;
      background: transparent;
      border-color: #8E96A3;
      user-select: none;
    }
  }
}

.info {
  width: 100%;
  font-size: 15px;
  color: $newGrey3;
  padding: 16px;
  line-height: 20px;

  a {
    color: $accent;
  }
}

.input {
  width: 100%;
  padding: 16px;

  input {
    width: 100%;
    padding: 11px 16px;
    font-size: 15px;
    color: $newGrey3;
    border: 1px solid $newGrey3;
    border-radius: 4px;
  }
}
.head {
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: $newGrey3;

    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border: 1px solid $newGrey3;
      border-radius: 50%;
      font-weight: 500;
      margin-right: 10px;
      content: '2'
    }
  }
}
