@import '~styles/variables';

.root {
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.trigger {
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: center;
}

.editor {
  width: 100%;
}

.noQuery {
  font-size: 16px;
  padding: 60px;
  color: #8E96A3;
  text-align: center;
}

.info {
  width: 100%;
  font-size: 15px;
  color: #8E96A3;
  padding: 16px;
  line-height: 20px;
  text-align: center;
}

.head {
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: $newGrey3;

    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border: 1px solid $newGrey3;
      border-radius: 50%;
      font-weight: 500;
      margin-right: 10px;
      content: '1'
    }
  }
}
