@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 100%;
  background: #E4E4F4;
  padding: 60px;
}

.header {
  font-size: 35px;
}

.description {
  margin: 20px 0 40px;
  border: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  width: 100%;

  @include placeholder {
    color: #8E96A3;
  }
}

.boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > div {
    width: calc(50% - 4px);
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  & > div {
    font-size: 20px;
    color: $newGrey3;
    cursor: pointer;

    &:first-child {
      margin-right: auto;
    }
  }
}
