@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

.button {
  @include button;
  margin-left: 10px;

  &.green {
    border-color: $accent;
    color: $accent;
    background: #fff;

    &:hover {
      background: $accent;
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $accent;
    }
  }
}
