<div class="sign-in-wrapper">
  <div class="sign-in">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>Sign in to get started</h1>

      <button class="auth-google" md-raised-button (click)="signInWithGoogle()">
        <md-icon svgIcon="google"></md-icon> Sign in with Google
      </button>

      <button class="auth-facebook" md-raised-button (click)="signInWithFacebook()">
        <md-icon svgIcon="facebook"></md-icon> Sign in with Facebook
      </button>

      <button class="auth-twitter" md-raised-button (click)="signInWithTwitter()">
        <md-icon svgIcon="twitter"></md-icon> Sign in with Twitter
      </button>

      <button class="auth-github" md-raised-button (click)="signInWithGithub()">
        <md-icon svgIcon="github"></md-icon> Sign in with GitHub
      </button>
    </div>
  </div>
</div>