@import '~styles/variables';
@import '~styles/mixins';

.root {
  z-index: 9;
  font-size: 12px;
  color: $grey5;
  overflow: hidden;
  display: flex;
  height: 47px;
  position: relative;
  text-overflow: ellipsis;
  cursor: default;

  .border {
    width: 100%;
    flex: 1;
    @include cellborder($grey2);
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .value {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 15px 20px;
    display: inline-block;
    white-space: nowrap;
    line-height: 17px;
    position: relative;
  }

  .relationlink {
    position: absolute;
    right: 0;
  }

  .id {
    font-style: italic;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  textarea {
    background: #fff;
    border: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  select {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  &.null {
    .value {
      color: $grey3;
      font-style: italic;
    }
  }

  &.editing, &.selected {
    .border {
      @include cellborder($accent-blue);
    }
    z-index: 10;
    overflow: visible;
  }

  &.editing {
    .border {
      background: #fff;
      height: auto;
      min-height: 52px;
      width: auto;
      box-shadow: none;
      border: 1px solid $accent-blue;
      border-radius: 2px;
      margin-right: -2px;
    }
  }

  &.invalid {
    .border {
      @include cellborder(#F5A623);
    }
    z-index: 10;
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: $grey3;
    }
  }

  .datepicker {
    position: relative;
    left: 0;
    top: 0;
    min-width: 250px;
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

.rowhascursor {
  background-color: transparent;
}

.rowselected {
  background-color: #2a7ed2 !important;
  color: #fff;
}
