@import '~styles/variables';
@import '~styles/mixins';

$tableHead: 74px;
$tableHeadExpanded: 100px;

.root {
  height: 100%;
  position: relative;
  background-color: rgba(0,0,0,.02);
}

.button {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  transition: .3s all;
  overflow: hidden;
  background: #fff;

  &.search {
    display: flex;
    &.active {
      height: 50px;
      width: 360px;
    }

    .input {
      border: none;
      flex: 1;
    }
    .searchicon, .closeicon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .closeicon {
      svg {
        fill: rgba(0,0,0,0.4);
      }
    }
  }

  label {
    cursor: pointer;
  }


  &.green {
    border-color: $accent;
    color: $accent;
    background: #fff;

    &:hover {
      background: $accent;
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $accent;
    }
  }

  &.red {
    border-color: rgb(255, 31, 0);
    color: rgb(255, 31, 0);
    background: #fff;

    &:hover {
      background: rgb(255, 31, 0);
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: rgb(255, 31, 0);
    }
  }

  &.blue {
    border-color: $accent-blue;
    color: $accent-blue;
    background: #fff;

    &:hover {
      background: $accent-blue;
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $accent-blue;
    }
  }
}

.menuDropdown {
  @include dropdown;
  top: 46px;
  right: 0;
}

.root.filtersVisible {

  .tableHead {
    height: $tableHeadExpanded;
  }

  .tableBody {
    height: calc(100% - #{$tableHeadExpanded});
  }
}

.loadingOverlay {
  top: calc(125px);
  height: calc(100% - 127px - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
  a {
    pointer-events: all;
  }
}

.table {
  height: calc(100vh - 127px - 1px);
  overflow-x: scroll;

  &.loading {
    filter: blur(2px);
  }

  .tableContainer {
    height: 100%;
    min-width: 100%;
  }

  .tableBody {
    height: calc(100% - #{$tableHead});
    width: 100%;
  }

  .tableBodyContainer {
    padding-bottom: 60px;
  }
}
