@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  &.active {
    cursor: pointer;
  }
}

.empty {
  width: 40px;
}

.cell {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%), linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%);
  background-position: top, left;
  background-size: 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y;
  box-shadow:0px 1px 1px #e4e4f4;
}

.last {
  background-image: linear-gradient(to right, rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%), linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%), linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%);
  background-position: top, left, right;
  background-size: 12px 1px, 1px 12px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-y;
}

.loading {
  padding-left: 19px;
  display: flex;
  >div {
    box-shadow: 1px 0 0 0 #e4e4f4,inset 1px 0 0 0 #e4e4f4,inset 0 1px 0 0 #e4e4f4;
    display: block;
    flex: 1;
    height: 47px;
    border-bottom: 1px solid #e4e4f4;
  }
}

.add {
  margin-left: 15px;
  display: flex;
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  i {
    margin-right: 10px;
    svg {
      fill: rgba(0,0,0,0.3);
    }
  }
}
