@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 100%;
  position: relative;
  display: flex;
  min-height: 52px;
}

.button {
  position: absolute;
  top: -1px;
  left: -47px;
  width: 50px;
  height: calc(100% + 2px);
  min-height: 52px;
  @include button;
  border-radius: 2px;
  border-right: none;
  padding: 10px;

  &.blue {
    border-color: rgb(74, 144, 226);
    background: #fff;

    div {
      color: rgba(0,0,0,.3);
      background: rgba(0,0,0,.07);
      padding: 2px 7px 2px 4px;
      border-radius: 1px;
      font-style: italic;
      text-transform: none;

      &:hover {
        background: rgba(0,0,0,.14);
      }
    }
  }
}

textarea {
  left: 0;
  top: 0;
}
