@import '~styles/variables';

.root {
  width: 700px;
  height: 100%;
  background: #fff;
}

.header {
  // height: 125px;
  background: #27AE60;
  // padding: 30px 30px 0;
}

.filter {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 35px;
  color: #fff;
  overflow: hidden;

  input {
    padding: 0 0 0 30px;
    color: inherit;
  }

  svg {
    fill: #fff
  }

  .setNull {
    cursor: pointer;
    cursor: hand;

    &:hover {
      svg {
        fill: #D0021B;
      }
    }
  }
}
