#picker-wrapper {
  height: 100%;

  .picker {
    height: calc(100% - 64px);

    .picker-gender {
      padding: 12px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      min-height: 72px;

      button {
        height: 64px;
        width: 64px;
        padding: 0;
        min-width: 64px;

        md-icon {
          height: 48px;
          width: 48px;
          opacity: .2;

          &.selected {
            opacity: 1;
          }
        }
      }
    }

    .tabs-wrapper {
      overflow: auto;

      md-tab-group {
        min-height: 100%;

        .md-tab-label {
          text-transform: uppercase;
        }

        md-grid-tile {
          border-radius: 2px;

          &.tile-border {
            border: 1px solid rgba(0, 0, 0, 0.1);
          }

          &.tile-background {
            background-color: rgba(0, 0, 0, 0.1);
          }

          button.asset-button {
            height: 94%;
            width: 94%;
            border-radius: 3px;
            margin: 0;

            .md-ripple-container {
              border-radius: 3px;
            }

            md-icon {
              &.asset-icon {
                height: 100%;
                width: 100%;
              }

              &.asset-icon-none {
                height: 24px;
                width: 24px;
                opacity: .5;
              }
            }
          }

          md-grid-tile-footer .selected-icon {
            color: rgba(255, 255, 255, 1);
          }
        }

      }
    }
  }

  .output {
    background-color: rgba(0,0,0,.1);

    .avatar-component {
      height: 512px;
      width: 512px;

      div.avatar-color {
        border-radius: 256px;
      }
    }

    #avatar-actions {
      margin-top: 24px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
