md-toolbar {
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .app-icon {

  }

  .app-title {
    padding-left: 12px;
  }

  .app-user {
    .user-inactive {

    }
    .user-active {
      .user-name {
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
      }
      .user-image {
        border-radius: 50%;
        height: 34px;
        width: 34px;
        margin: 0 12px;
        border: 1px solid rgba(0,0,0,.1);
      }
    }
    .user-action {

    }
  }
}