<h2>Upload a File</h2>

<!-- VERSION 1 -->
<form class="upload-wrapper" ngNoForm>
  <input id="file-input" name="file" type="file" />
  <button md-raised-button (click)="upload()">Upload</button>
</form>

<!-- VERSION 2 -->
<form class="upload-wrapper" ngNoForm>
  <input type="file" (change)="onFileChange($event)" />
  <button md-raised-button (click)="submit()">Upload</button>
</form>

<h2>File Gallery</h2>
<div class="files-gallery">
  <div class="image-wrap" *ngFor="let image of imageList | async">
    <img [src]="image.downloadURL | async" />
    <button md-icon-button (click)="delete(image)">
      <md-icon>delete</md-icon>
    </button>
  </div>
</div>