.upload-wrapper {

}

.files-gallery {
  .image-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100px;
      max-height: 100px;
    }
    button {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}