# npm
node_modules/
!/sonar-typescript-plugin/src/test/resources/foo/node_modules
sonar-typescript-plugin/sonarts-bundle/bundle.js

# Maven
target/

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# ---- Sonar
.sonar

# ---- dependencies used for SQ analysis
dependencies
