<div class="landing">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="avatar-hero" fxLayout="row" fxLayoutAlign="center center">
      <!--
      <md-icon class="icon-lg" svgIcon="avatar_disabled"></md-icon>
      <md-icon class="icon-sm">arrow_forward</md-icon>
      <md-icon class="icon-lg" svgIcon="avatar_anonymous"></md-icon>
      -->

      <!--
      <md-icon class="icon-lg" svgIcon="avatar_disabled"></md-icon>
      <span class="spacer"></span>
      <avatar class="random-avatar" [model]="randomAvatar"></avatar>
      -->

      <md-icon class="icon-lg" svgIcon="avatar_disabled"></md-icon>
      <md-icon class="icon-sm">arrow_forward</md-icon>
      <avatar class="random-avatar" [model]="randomAvatar"></avatar>
    </div>

    <!--
    <div>
      <img class="curved-arrow" src="/assets/images/white-curved-arrow.png" />
    </div>
    -->

    <div class="get-started" fxLayout="column" fxLayoutAlign="center center">
      <a md-raised-button class="get-started-btn" color="accent" href="/create">Get Started</a>
    </div>
  </div>
</div>