.landing {
  margin: 92px auto;
  max-width: 640px;
  padding: 128px 64px 96px;
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.54);

  .avatar-hero {
    md-icon {
      color: rgba(0,0,0,.54);

      &.icon-lg {
        height: 128px;
        width: 128px;
        font-size: 128px;
      }

      &.icon-sm {
        height: 64px;
        width: 64px;
        font-size: 64px;
        margin: 0 16px;
        color: rgba(255,255,255,.86);
      }
    }

    .spacer {
      width: 64px;
    }

    .random-avatar {
      .avatar-component {
        height: 128px;
        width: 128px;
      }
    }
  }
  .curved-arrow {
    height: 64px;
    width: 64px;
  }
  .get-started {
    margin-top: 86px;

    .get-started-btn {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
