@import '~styles/variables';

.root {
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: 400;
  font-size: 13px;
}

.datetime {
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  font-size: 12px;
  font-weight: 600;

  span {
    margin-left: 5px;
    color: $grey4;
    cursor: pointer;

    &:hover {
      color: $grey5;
    }
  }
}
