.gallery-container {
  overflow: auto;
  height: 100vh;
}

.gallery {
  width: 960px;
  margin: 0 auto 64px;
  padding: 64px 0;
  
  h1 {
    margin: 0;
    padding: 12px 0 36px;
    text-align: center;
    font-weight: 300;
  }

  .avatar-component {
    height: 240px;
    width: 240px;
  }

  .placeholder {
    border-radius: 8px;
  }
}

#gallery-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
