<div class="gallery-container">
  <div class="gallery">
    <h1>Gallery of Avatars</h1>

    <div class="avatars-grid" *ngIf="publicAvatars && publicAvatars.length > 0">
      <md-grid-list cols="3" rowHeight="240px" gutterSize="12px">
        <md-grid-tile *ngFor="let avatar of publicAvatars" colspan="1" rowspan="1">
          <a [href]="'create/'+avatar.$key" [mdTooltip]="avatar.name">
            <avatar [model]="avatar"></avatar>
          </a>
        </md-grid-tile>
      </md-grid-list>
    </div>

    <div class="avatars-empty" *ngIf="!publicAvatars || publicAvatars.length == 0" fxLayout="column" fxLayoutAlign="center center">
      <img class="placeholder" src="/assets/images/gallery-placeholder.gif" />
    </div>
  </div>
</div>
<a id="gallery-fab" md-fab routerLink="/create"><md-icon>add</md-icon></a>