.measureElement {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.rootContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.outerContainer {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.innerContainer {
  height: 100%;
  width: 100%;
}

.inner-container::-webkit-scrollbar {
  display: none;
}
