.root {
  padding: 20px;
}

.sentence {
  margin: 0 0 24px 0;
}

.multiplicity {
  color: #8E96A3;
}

.model {
  padding: 2px 4px;
  color: #8E96A3;
  border-radius: 5px;
  background-color: rgba(228, 228, 244, 0.4);
}

.field {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: white;
  font-family: 'Monaco'
}
