.sonarlint/
.scannerwork/
.sonar/
.vscode/
coverage/
docs/
scripts/
src/
tests/
typescript-test-sources/
lib/tools/

.gitignore
.gitmodules
.npmignore
.travis.yml
sonar-project.properties
HEADER
jest.config.js
tsconfig.json
tslint.json
yarn.lock

tslint-sonarts-*.tgz
