$avatar_dimension: 100%;

.avatar-component {
  position: relative;
  width: $avatar_dimension;
  height: $avatar_dimension;

  div.avatar-color,
  div.avatar-asset {
    border-radius: 50%;
    width: $avatar_dimension;
    height: $avatar_dimension;
  }

  img.avatar-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $avatar_dimension;
    height: $avatar_dimension;
  }
}