@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 100%;
  height: calc(#{$headerHeight} + 1px);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.left {
  margin-left: 40px;
  flex: 1;
}

.right {
  margin-top: 20px;
  margin-right: 20px;
}

.userDropdown {
  @include dropdown;
  top: 56px;
  right: 40px;
}
